$orange: #fc9867;
$purple: #a79df2;
$yellow: #ffd866;
$blue: #73dce8;
$red: #ff6188;
$green: #a9dc76;

$white: #f0fcee;

$grey_0: #716f70;
$grey_1: #403e41;
$grey_2: #2d2a2e;
$grey_3: #221f22;
$grey_4: #19181a;