$orange: #fc9867;
$purple: #a79df2;
$yellow: #ffd866;
$blue: #73dce8;
$red: #ff6188;
$green: #a9dc76;

$white: #f0fcee;
$black: #111111;

$grey-0: #716f70;
$grey-1: #403e41;
$grey-2: #2d2a2e;
$grey-3: #221f22;
$grey-4: #19181a;

$model-width: 280px;
$model-min-height: 150px;
$model-border-radius: 12px;

$type-class: $blue;
$type-class-instance: $purple;
$type-function: $green;